<!DOCTYPE html>
<html lang="en">

	{{> head }}

  <body>
  	{{> navigation}}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Anime A-Z
        <small>Secondary Text</small>
      </h1>

      <div class="row">
      	{{> animeCard}}
        {{> animeCard}}
        {{> animeCard}}
        {{> animeCard}}
        {{> animeCard}}
        {{> animeCard}}
        {{> animeCard}}
        {{> animeCard}}
      </div>
      <!-- /.row -->

	{{> pagination}}

    </div>
    <!-- /.container -->
    {{> footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
